<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuantaBasket.Components.QLuaL1QuotationProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="QuantaBasket.QLuaL1QuatationProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <QuantaBasket.Components.QLuaL1QuotationProvider.Properties.Settings>
            <setting name="QLuaAddr" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="QLuaPort" serializeAs="String">
                <value>3585</value>
            </setting>
            <setting name="Securities" serializeAs="String">
                <value>[{"c":"TQBR","s":"LKOH"},{"c":"*","s":"RIZ0"}]</value>
            </setting>
        </QuantaBasket.Components.QLuaL1QuotationProvider.Properties.Settings>
        <QuantaBasket.QLuaL1QuatationProvider.Properties.Settings>
            <setting name="QLuaAddr" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="QLuaPort" serializeAs="String">
                <value>3585</value>
            </setting>
            <setting name="Securities" serializeAs="String">
                <value>[{"c":"TQBR","s":"LKOH"},{"c":"*","s":"GAZP"}]</value>
            </setting>
        </QuantaBasket.QLuaL1QuatationProvider.Properties.Settings>
    </applicationSettings>
</configuration>