<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuantaBasket.Basket.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <QuantaBasket.Basket.Properties.Settings>
            <setting name="DebugQuantasPath" serializeAs="String">
                <value>d:\CSharp\Quantas</value>
            </setting>
            <setting name="ReleaseQuantrasPath" serializeAs="String">
                <value>d:\CSharp\\QuantaRealese</value>
            </setting>
        </QuantaBasket.Basket.Properties.Settings>
    </applicationSettings>
</configuration>